.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}