@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container{
        min-width:400px;
        @include flex-column(1rem);
        background-color: rgb(22, 22, 22);
        padding: 1.7rem;
        border-radius: 1rem;
        form{
            @include flex-column(1rem);

            input{
                border: none;
                outline: none;
                padding-inline: 1rem;
                padding-block: 0.7rem;
                border-radius: 0.8rem;
            }

        }
        a{
            text-decoration: none;
            color: rgba(250, 36, 36, 0.946);
        }
    }
}