.button{
    outline: none;
    border: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    background: rgb(255, 85, 0);
    text-align: center;
    cursor: pointer;
}